img {
  max-width: 300px;
  width: 100%;
  height: 100%;
  max-height: 300px;
  border: 3px solid #1155;
  padding: 2px;
}

button {
  height: 30px;
}

.cell {
  margin: 25px auto 25px auto;
}

.profile-page {
  position: absolute;
  left: 42%;
}

.file-upload {
  font-family: sans-serif;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 7px;
  background-color: #00cc00;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.file-upload:hover {
  background-color: #009900;
}

input[type="file"] {
  display: none;
}
