<div class="profile-page">
  <img [src]="img" alt="No image >.<"/>
  <div class="cell">
    <span class="p-float-label">
      <input id="float-input-name" type="text" pInputText [(ngModel)]="profile.name" [attr.disabled]="profile.id!==user.id ? '' : null">
      <label for="float-input-name">Name</label>
    </span>
  </div>
  <div class="cell">
    <span class="p-float-label">
      <input id="float-input-lastname" type="text" pInputText [(ngModel)]="profile.lastName" [attr.disabled]="profile.id!==user.id ? '' : null">
      <label for="float-input-lastname">Last name</label>
    </span>
  </div>
  <div class="cell">
    <span class="p-float-label">
      <input id="float-input-phone" type="text" pInputText [(ngModel)]="profile.phone" [attr.disabled]="profile.id!==user.id ? '' : null">
      <label for="float-input-phone">Phone</label>
    </span>
  </div>
  <div class="cell">
    <span class="p-float-label">
      <input id="float-input-email" type="text" pInputText [(ngModel)]="profile.email" [attr.disabled]="profile.id!==user.id  ? '' : null">
      <label for="float-input-email">Email</label>
    </span>
  </div>

  <p><p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City" optionLabel="name"
                 [disabled]="profile.id!==user.id"></p-dropdown></p>
  <p *ngIf="profile.id===user.id">
    <label class="file-upload">
      <i class="pi pi-file-import"></i>
      <input type="file" accept="image/*" (change)="addImg($event)"/>
        Upload image
    </label>

  </p>
  <p *ngIf="profile.id===user.id">
    <button icon="pi pi-save" pButton label="Save changes" (click)="updateProfile()"></button>
  </p>
      <p-divider></p-divider>
      <div *ngIf="profile.id===user.id">
        <div class="cell">
            <p-password placeholder="Old password" [(ngModel)]="oldPassword" [toggleMask]="true" [feedback]="false"></p-password>
        </div>
        <div class="cell">
            <p-password placeholder="New password" [(ngModel)]="newPassword1" [toggleMask]="true"></p-password>
        </div>
        <div class="cell">
            <p-password placeholder="Re-enter new password" [(ngModel)]="newPassword2" [toggleMask]="true"
            (keydown)="consumeKey($event, newPassword2)"></p-password>
        </div>
        <p>
          <button icon="pi pi-save" pButton label="Change password" (click)="updatePassword()"></button>
        </p>
      </div>
</div>

