<div class="profile-page">

  <div class="user-info">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-10 offset-md-1">
          <img [src]="user.photo" alt="No image >.<"/>
          <h4>{{user.name}} {{user.lastName}}</h4>
          <p>Phone: {{user.phone}}</p>
          <p>Email: {{user.email}}</p>
          <p>City: {{user.city}}</p>
          <p>
            <button class="p-button-success" icon="pi pi-file-import" pButton label="Upload image"></button>
          </p>
          <p>
            <button icon="pi pi-save" pButton label="Save changes"></button>
          </p>

      </div>
    </div>
  </div>

</div>
</div>

