<div class="nav">
  <app-logged-navbar *ngIf="userService.user != undefined"></app-logged-navbar>
  <app-unlogged-navbar *ngIf="userService.user === undefined"></app-unlogged-navbar>
</div>
<div style="margin-top: 75px;">

  <router-outlet></router-outlet>

</div>

