<p-card [style]="{'width': '800px', 'margin-left': 'auto', 'margin-right': 'auto'}">
  <table [cellSpacing]="25" *ngIf="beforeReset">
    <tr>
      <td colspan="2"><h3>To reset your password, enter your email address</h3></td>
    </tr>
    <tr>
      <td colspan="1">
        <span class="p-float-label">
          <input [style]="{'width':'100%'}" id="float-input" type="text" pInputText [(ngModel)]="email">
          <label for="float-input">Email</label>
        </span>
      </td>
      <td colspan="1">
        <button [style]="{'width': '100%'}" pButton label="Reset password" (click)="resetPassword($event)"></button>
      </td>
    </tr>
  </table>
  <table [cellSpacing]="25" *ngIf="afterReset">
    <tr>
      <td colspan="2"><h3>New password was sent to your email. Check your inbox uwu</h3></td>
    </tr>
  </table>
</p-card>
