h1{

    font-weight: bold;
    font-size: 50px;
    color: rgb(187, 67, 187); 
}

h2{
    font-size: 25px;
    color: darkslategray;
    font-weight: bold;
}

h3{
    color:deepskyblue;
    font-size: 40px;
    font-weight: bold;
}