<!--<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />-->
<!--<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>-->
<link rel="stylesheet" href="leaflet-routing-machine.css" />
<!-- Load geocoding plugin after Leaflet -->

<div>
  <h1>Latitude: {{latitude}}</h1>
  <h1>Longitude: {{longitude}}</h1>
</div>
<div>
  <div class="input-container">
    <table [style]="{'width': '20%', 'min-width': '10%'}">
      <tr *ngFor="let ride of rides">
        <td>
          <img height="60px" width="60px" src="ride.passengers[0].photo.path" alt="No pfp from this goober">
        </td>
        <td>
          Price: {{ride.price}}; Passengers: {{ride.passengers.length}}
        </td>
        <td>
          <button pButton pRipple class="p-button-success" label="Accept" (click)="acceptRide($event, ride.id)"></button>
        </td>
        <td>
          <button pButton pRipple class="p-button-danger" label="Reject" (click)="rejectRide($event, ride.id)"></button>
        </td>
      </tr>
    </table>
  </div>
  <div class="map-container">
    <div class="map-frame">
      <div id="map-driver"></div>
    </div>
  </div>
  <script src="leaflet-routing-machine.min.js"></script>
</div>

