<div>
  <div class="cell">
    <span class="p-float-label">
    <input id="float-input" type="text" pInputText [(ngModel)]="email">
    <label for="float-input">Email</label>
  </span>
  </div>
  <div class="cell">
    <span class="p-float-label">
    <input id="float-input-2" type="password" pInputText [(ngModel)]="password">
    <label for="float-input-2">Password</label>
  </span>
  </div>
  <div class="cell">
    <a href="http://localhost:4200/forgot-password">Forgot password?</a>
  </div>
  <div class="cell">
    <button style="margin-left: 20px;" pButton label="Login" (click)="login($event)"></button>
  </div>
</div>
