<div>
  <div class="cell">
    <span class="p-float-label">
    <input id="float-input-email" type="text" pInputText maxlength="25" [(ngModel)]="email">
    <label for="float-input-email">Email</label>
  </span>
  </div>
  <div class="cell">
    <span class="p-float-label">
    <input id="float-input-password" type="password" maxlength="16" pInputText [(ngModel)]="password">
    <label for="float-input-password">Password</label>
  </span>
  </div>
  <div class="cell">
    <a href="http://localhost:4200/forgot-password">Forgot password?</a>
  </div>
  <div class="cell">
    <button id="attemptLoginBtn" style="margin-left: 20px;" pButton label="Login" (click)="login($event)"></button>
  </div>
</div>
