<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <a href="http://localhost:4200"><img src="assets/showcase/images/Uber-logo.jpg" height="40" class="mr-2" alt="No img :("></a> 
  </ng-template>
  <ng-template pTemplate="end">
    <!--    MODAL BUTTON   -->
    <button id="logoutBtn" pButton label="Logout" pRipple class="p-button-danger" (click)="logout()" icon="pi pi-power-off"></button>
  </ng-template>
</p-menubar>
