<p-dialog style="text-align:  center;" header="Review" [modal]="true" [draggable]="false" [resizable]="false" [(visible)]="displayReviewModal" >
    <h1  style="margin-top: 10px;width: 400px;" >Driver Rating</h1>
    <p-rating [(ngModel)]="driverRating" name="driverRating" class="custom-rate" [cancel]="false" [iconOnStyle]="{'color':'#e6ed1c'}"></p-rating>
    <h1  style="margin-top: 10px;">Car Rating</h1>
    <p-rating [(ngModel)]="carRating" name="carRating"  class="custom-rate" [cancel]="false" [iconOnStyle]="{'color':'#e6ed1c'}"></p-rating>
    <h1  style="margin-top: 10px;">Comment</h1>
    <textarea rows="5" [(ngModel)]="comment"  style="width: 90%; height: 100px; margin-top: 10px;font-size: 20px;"></textarea>
    <div>
        <button pButton pRipple label="Submit" (click)="submitReview()" style="margin-top: 10px;height: 50px;width: 100px;"></button>
    </div>
</p-dialog>
