<div style="text-align: center;">
    <h1 class='htxt' style="margin-top: 10px;" >Driver Rating</h1>
    <ngb-rating [max]="5"  [(rate)]="driverRating" [readonly]="false"></ngb-rating>
    <h1 class='htxt' style="margin-top: 10px;">Car Rating</h1>
    <ngb-rating [max]="5" [(rate)]="carRating" [readonly]="false"></ngb-rating>
    <h1 class='htxt' style="margin-top: 10px;">Comment</h1>
    <textarea rows="5" [(ngModel)]="comment"  style="width: 20%; height: 100px; margin-top: 10px;"></textarea>
    <div>
        <button pButton pRipple label="Submit" (click)="submitReview()" style="margin-top: 10px;height: 50px;width: 100px;"></button>
    </div>


</div>