<!--<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />-->
<!--<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>-->
<link rel="stylesheet" href="leaflet-routing-machine.css" />
<!-- Load geocoding plugin after Leaflet -->

<div>
  <div class="input-container" *ngIf="!rideStarted" id="request_ride_input">
    <table [style]="{'width': '20%', 'min-width': '10%'}">
      <tr>
        <td>
          <p-dropdown  [style]="{'width':'100%'}" [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City" optionLabel="name"></p-dropdown>
        </td>
        <td>
          <p-dropdown [style]="{'width':'100%'}" [options]="carTypes" [(ngModel)]="selectedCarType" placeholder="Select car" [showClear]="true" optionLabel="name"></p-dropdown>
        </td>
      </tr>
      <tr>
        <td>
          <button pButton pRipple label="Add destination" icon="pi pi-plus" class="p-button-success" (click)="addDest()"></button>
        </td>
        <td>
          <button pButton pRipple label="Remove destination" icon="pi pi-minus" class="p-button-danger" (click)="removeDest()"></button>
        </td>
      </tr>
      <tr>
        <td>
          <input id="start" [(ngModel)]="start" pInputText type="text" placeholder="Start Street" [style]="{'width': '100%'}"/>
        </td>
        <td>
          <input id="start_number" pInputText [(ngModel)]="start_number"  type="text" placeholder="Start Number" [style]="{'width': '100%'}"/>
        </td>
      </tr>
      <tr>
        <td>
          <input pInputText [(ngModel)]="dest1" *ngIf="inputCounter >= 1" type="text" placeholder="Stop 1 Street" [style]="{'width': '100%'}"/>
        </td>
        <td>
          <input pInputText [(ngModel)]="dest1_number" *ngIf="inputCounter >= 1" type="text" placeholder="Stop 1 Number" [style]="{'width': '100%'}"/>
        </td>
      </tr>
      <tr>
        <td>
          <input pInputText [(ngModel)]="dest2" *ngIf="inputCounter >= 2" type="text" placeholder="Stop 2 Street" [style]="{'width': '100%'}"/>
        </td>
        <td>
          <input pInputText [(ngModel)]="dest2_number" *ngIf="inputCounter >= 2" type="text" placeholder="Stop 2 Number" [style]="{'width': '100%'}"/>
        </td>
      </tr>
      <tr>
        <td>
          <input pInputText [(ngModel)]="dest3" *ngIf="inputCounter >= 3" type="text" placeholder="Stop 3 Street" [style]="{'width': '100%'}"/>
        </td>
        <td>
          <input pInputText [(ngModel)]="dest3_number" *ngIf="inputCounter >= 3" type="text" placeholder="Stop 3 Number" [style]="{'width': '100%'}"/>
        </td>
      </tr>
      <tr>
        <td>
          <input pInputText [(ngModel)]="dest4" *ngIf="inputCounter >= 4" type="text" placeholder="Stop 4 Street" [style]="{'width': '100%'}"/>
        </td>
        <td>
          <input pInputText [(ngModel)]="dest4_number" *ngIf="inputCounter >= 4" type="text" placeholder="Stop 4 Number" [style]="{'width': '100%'}"/>
        </td>
      </tr>
      <tr>
        <td>
          <input id="final" pInputText [(ngModel)]="final" type="text" placeholder="Destination Street" [style]="{'width': '100%'}"/>
        </td>
        <td>
          <input id="final_number" pInputText [(ngModel)]="final_number"  type="text" placeholder="Destination Number" [style]="{'width': '100%'}"/>
        </td>
      </tr>
      <tr>
        <td colspan="1">
          <p-toggleButton [style]="{'width': '100%'}" [(ngModel)]="babyFriendly" onLabel="Child friendly" offLabel="Not child friendly" onIcon="pi pi-check" offIcon="pi pi-times"></p-toggleButton>
        </td>
        <td colspan="1">
          <p-toggleButton  [style]="{'width': '100%'}" [(ngModel)]="petFriendly" onLabel="Pet friendly" offLabel="Not pet friendly" onIcon="pi pi-check" offIcon="pi pi-times"></p-toggleButton>
        </td>
      </tr>
      <tr>
        <td>
          <button pButton pRipple label="Add Passenger" icon="pi pi-plus" class="p-button-warning" (click)="addPassenger()"></button>
        </td>
        <td>
          <button pButton pRipple label="Remove Passenger" icon="pi pi-minus" class="p-button-danger" (click)="removePassenger()"></button>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input pInputText [(ngModel)]="passenger1" *ngIf="passengerInputCounter >= 1" type="text" placeholder="Passenger 1" [style]="{'width': '100%'}"/>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input pInputText [(ngModel)]="passenger2" *ngIf="passengerInputCounter >= 2" type="text" placeholder="Passenger 2" [style]="{'width': '100%'}"/>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input pInputText [(ngModel)]="passenger3" *ngIf="passengerInputCounter >= 3" type="text" placeholder="Passenger 3" [style]="{'width': '100%'}"/>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input pInputText [(ngModel)]="passenger4" *ngIf="passengerInputCounter >= 4" type="text" placeholder="Passenger 4" [style]="{'width': '100%'}"/>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input pInputText [(ngModel)]="passenger5" *ngIf="passengerInputCounter >= 5" type="text" placeholder="Passenger 5" [style]="{'width': '100%'}"/>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input pInputText [(ngModel)]="passenger6" *ngIf="passengerInputCounter >= 6" type="text" placeholder="Passenger 6" [style]="{'width': '100%'}"/>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input pInputText [(ngModel)]="passenger7" *ngIf="passengerInputCounter >= 7" type="text" placeholder="Passenger 7" [style]="{'width': '100%'}"/>
        </td>
      </tr>
      <tr>
        <td>
          <button id="search_btn" pButton pRipple label="Search" [style]="{'width': '100%'}" (click)="search()"></button>
        </td>
        <td>
          <button id="request_btn" [disabled]="!routeDrawn" pButton pRipple label="Request Ride" [style]="{'width': '100%'}" (click)="requestRide()"></button>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button pButton pRipple [disabled]="!routeDrawn" label="Reserve a ride" [style]="{'width': '100%'}" (click)="showReservation()"></button>
        </td>
      </tr>
      <tr *ngIf="reservationVisible">
        <td colspan="2" class="client-label" >
          I want my ride in:
        </td>
      </tr>
      <tr *ngIf="reservationVisible">
        <td>
          <input id="hours" [(ngModel)]="hours_string" pInputText type="text" placeholder="Hours" [style]="{'width': '100%'}"/>
        </td>
        <td>
          <input pInputText [(ngModel)]="minutes_string"  type="text" placeholder="Minutes" [style]="{'width': '100%'}"/>
        </td>
      </tr>
      <tr *ngIf="reservationVisible">
        <td colspan="2">
          <button pButton pRipple label="Make a reservation" [style]="{'width': '100%'}" (click)="makeReservation()"></button>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="client-label">
          <label id="distance">Distance: {{distance}}km</label>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="client-label">
          <label>Price: {{price}}din</label>
        </td>
      </tr>
    </table>
  </div>
  <div id="report-driver" *ngIf="rideStarted">
    <button pButton pRipple label="Report driver" class="p-button-danger" (click)="reportDriver()"></button>
  </div>
  <div class="map-container">
    <div class="map-frame">
      <div id="map-client"></div>
    </div>
  </div>
  <script src="leaflet-routing-machine.min.js"></script>
</div>
