.map-container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
      z-index: -1;
  }

  .map-frame {
    border: 2px solid black;
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: 0;
  }

  #map {
    height: 100%;
  }

.btn1 {
  margin-bottom: 15px;
}

