<p-card [style]="{'width': '800px', 'margin-left': 'auto', 'margin-right': 'auto'}">
  <table [cellSpacing]="25" [style]="{'width': '710px', 'margin-left': 'auto', 'margin-right': 'auto'}">
    <thead>
    <td colspan="2" [style]="{'text-align': 'center'}">
      <h2>Registration form</h2>
    </td>
    </thead>
    <tr class="cell">
      <td colspan="2">
        <span class="p-float-label">
          <input [style]="{'width':'100%'}" id="float-input" type="text" pInputText [(ngModel)]="email">
          <label for="float-input">Email</label>
        </span>
      </td>
    </tr>
    <tr class="cell">
      <td>
        <span class="p-float-label">
          <input [style]="{'width':'100%'}" type="password" id="float-input-2" pInputText [(ngModel)]="password1">
          <label for="float-input-2">Password</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input [style]="{'width':'100%'}" id="float-input-6" type="password" pInputText [(ngModel)]="password2">
          <label for="float-input-6">Confirm password</label>
        </span>
      </td>
    </tr>

    <tr class="cell">
      <td>
        <span class="p-float-label">
          <input [style]="{'width':'100%'}" id="float-input-3" type="text" pInputText [(ngModel)]="name">
          <label for="float-input-3">First name</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input [style]="{'width':'100%'}" id="float-input-4" type="text" pInputText [(ngModel)]="lastName">
          <label for="float-input-4">Last name</label>
        </span>
      </td>
    </tr>

    <tr class="cell">
      <td>
        <span class="p-float-label">
          <input [style]="{'width':'100%'}" id="float-input-5" type="text" pInputText [(ngModel)]="phone">
          <label for="float-input-5">Phone</label>
        </span>
      </td>
      <td>
        <p-dropdown [style]="{'width':'100%'}" [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City" optionLabel="name" [showClear]="true"></p-dropdown>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button pButton [style]="{'width':'100%'}" pRipple label="Register" (click)="register($event)"></button>
      </td>
    </tr>
  </table>


</p-card>
